<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="cl.ucn.disc.dsm.mvicencio">

  <!-- Fresco -->
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".news.App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="The news"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.TheNews">
    <activity android:name=".news.MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>